input{
    font-size: 20px;
    border-radius:5px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.container{
    border-bottom: 3px solid #ccc;
    
}

.container h4{
    text-align: left;
}
.loading{
    display: flex;
    margin-top: 30vh;


}
.loading h1{
    margin: auto;
    opacity: 0.5}

.covid__global-left{
    background-color: antiquewhite;
}

.covid__global-right{
    background-color: azure;
}
.covid__in-the-world{
    border-bottom: 5px solid #ccc;
    margin-bottom: 50px;
}